@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100; 200; 300; 400; 500;600; 700; 800; 900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
}

/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
    }

span {
    font-size: .9rem;
    color: #757373;
    }
    
h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
    }




/* features */
#features{
     padding: 5vw 8vw 0 8vw;
    text-align: center;
 }


#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    } 

#features .fea-box{
    background: #F9F9FF;
    text-align: start;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
    }

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;

}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
    }




/* About */
#about-home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)) , url("../../assets/Backgroundimg2.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#about-home h2{
    color:#fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    } 



