/* *{
    margin: 0;
    padding: 0;

} */
.testbody {
    background: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../../assets/Background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
} 

.heading {
    text-align: center;
    margin-top: 100px;
}

#head {
    font-size: 1.8em;
}

#subheading {
    font-size: 18px;
    margin-top: 10px;
}

#content1 {
    width: 90%;
    margin: auto;
}

.testform {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}

.testform.box {
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

#option1 {
    width: 98.5%;
    height: 2.7em;
    position: relative;
    bottom: 10px;
    border-radius: 5px;
    border: 0;
}

#option2 select {
    width: 98.5%;
    height: 2.7em;
    position: relative;
    top: 10px;
    border-radius: 5px;
    border: 0;
}

.larger-question {
    font-size: 20px;
}

.larger-option {
    transform: scale(1.2);
}

.option-label {
    font-size: 18px;
} 